# cache-loader webpack plugin's cache dir
.cache-loader/

# Project build output
dist/
dist.zip

# NPM modules
node_modules/

# Code Coverage
coverage/

# Example Project
demo/react-typescript/node_modules/

.DS_Store

.codegpt