# cache-loader webpack plugin's cache dir
.cache-loader/

# Project build output
dist/
dist.zip
demo/react-typescript/dist/

# NPM modules
node_modules/
demo/react-typescript/node_modules/

# Code Coverage
coverage/

# WebStorm Idea folder
.idea

# VSCode settings folder
.vscode

# The SDK file
demo/html-javascript/adadapted-payload-service-sdk.js
.codegpt

.DS_Store

.claude/settings.local.json

gha-creds-*.json