body {
    margin: 0 !important;
    font-family: "Catamaran", sans-serif !important;
}

.App {
    display: flex;
    flex-direction: column;

    .page-header {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        padding: 10px;
        background-color: #383f80;
        box-shadow: 0px 4px 6px -6px rgb(0 0 0 / 20%), 0px 0px 2px 0px rgb(0 0 0 / 14%),
            0px 3px 10px 0px rgb(0 0 0 / 12%);

        .site-title {
            display: flex;
            align-items: center;
            flex: 1 1 auto;
            color: #ffffff;
            font-size: 24px;
            font-weight: 600;
            user-select: none;
        }

        .cart-icon-container {
            flex: 0 0 auto;

            .cart-icon {
                color: #ffffff;
                width: 32px;
                height: 32px;
            }

            .MuiBadge-badge {
                background-color: #de4cf2;
            }
        }
    }

    .page-body {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;

        .main-view {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: auto;
            padding: 20px;

            .keyword-intercept-search {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 0 auto;
                width: 100%;

                .item-search-input {
                    max-width: 600px;
                    width: 100%;
                }

                .keyword-search-results {
                }
            }
        }

        .ad-units {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            padding: 20px;

            .ad-zone {
                border: 1px solid #00000033;
            }
        }
    }
}
